.page-title {
  color: white;
  color: $text-over-primary-color;

  text-align: center;
  margin: 0;
  .page--restricted & {
    color: $text-over-secondary-color;
  }
}

.region-hero {

}

.hero__content {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  position: relative;
  max-width: $content-width-with-paddings;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  padding: $site-padding * 2 $site-padding;
  @include breakpoint(mobile) {
    padding: $site-padding * 2 $site-padding;
  }
  p:first-child {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.block-page-title-block {
  justify-self: center;
}

.cke_editable,
.field--name-body {
  details {
    border: 1px solid $primary;
    padding: 0 1rem;
    border-radius: $border-radius--small;
    margin: 1rem 0;
    &:focus-within {
      outline: 2px auto;
    }
  }
  summary {
    padding: 0.3rem 0;
    &:focus {
      outline: 0;
    }
  }
}
