.block-local-tasks-block {

}

ul.tabs {
  @include fade-in;
  display: flex;
  flex-flow: row wrap;
  margin: -1 * $filter-padding;
  padding: 0;
  padding-bottom: $site-padding / 2;
  @include breakpoint(mobile) {
    padding-left: $site-padding / 2;
    padding-right: $site-padding / 2;
  }
  @at-root .page-type--sheet & {
    //padding-bottom: $site-padding / 2 + $sheet-overlap;
  }
  li {
    margin: 0;
    padding: 0;
  }
  a {
    @include small-button;
    background-color: $secondary;
    color: white;
    color: $text-over-secondary-color;
    opacity: 0.7;
    @include nt($prop: opacity);
    @at-root .page--restricted & {
      background-color: $primary;
      color: $text-over-primary-color;
    }
    &:hover {
      background-color: $secondary;
      color: $text-over-secondary-color;
      opacity: 0.9;
      @at-root .page--restricted & {
        background-color: $primary;
        color: $text-over-primary-color;
      }
    }
    &.is-active {
      background-color: $secondary;
      color: $text-over-secondary-color;
      opacity: 1;
      @at-root .page--restricted & {
        background-color: $primary;
        color: $text-over-primary-color;
      }
    }
    &:focus {
      background-color: $secondary;
      color: $text-over-secondary-color;
      opacity: 0.9;
      @at-root .page--restricted & {
        background-color: $primary;
        color: $text-over-primary-color;
      }
    }
  }
}
