/**
 * @file
 * AJAX specific styles for activate links.
 *
 * @see ajax-link-activate.html.twig.
 */
.js-activate-message {
    display: inline;
    margin-left: 1.2em;
    animation: flag-flash 3s ease-in-out 1;
}

@keyframes activate-flash {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
